# ==============================================================================
# Specific Settings
# ==============================================================================



# ==============================================================================
# Common Settings
# ==============================================================================

bin/
obj/

.vs/

packages/

# ==============================================================================
# Windows Settings
# ==============================================================================

*.bak

Thumbs.db

~$*

